html, body{
    background-color: white;
}
#boxes {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: white 15px solid;
}
    .box1{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:blue;
        height: 200px; 
        border: white 15px solid;
    }
    .box2{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:red;
        height: 200px;
        border: white 15px solid;
    }
    .box3{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:green;
        height: 200px;
        border: white 15px solid;
    }
    .box4{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:orange;
        height: 200px;
        border: white 15px solid;
    }
    .box5{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:purple;
        height: 200px;
        border: white 15px solid;
    }
    .box6{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
    background-color:indigo;
    height: 200px;
        border: white 15px solid;
    }

    .box1:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:navy;
        border: black 15px dotted;
    }
    .box2:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:darkred;
        height: 200px;
        border: black 15px dotted;
    }
    .box3:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:darkgreen;
        height: 200px;
        border: black 15px dotted;
    }
    .box4:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:darkorange;
        height: 200px;
        border: black 15px dotted;
    }
    .box5:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
        background-color:darkmagenta;
        height: 200px;
        border: black 15px dotted;
    }
    .box6:hover{
        transition-property:all ;
        transition-duration: 3s;
        transition-timing-function: ease-in-out;
    background-color:maroon;
    height: 200px;
        border: black 15px dotted;
    }